@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   margin: 0;
   @apply bg-gray-900 text-gray-100;
  
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.from-blue-500 {
  --tw-gradient-from:  #00A4C8;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.via-green-300 {
  --tw-gradient-stops: var(--tw-gradient-from) 50%, #4be789, var(--tw-gradient-to);
}

.to-orange-500 {
  --tw-gradient-to: #EE9919;
}
